.search-result {
  margin-top: 3%;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.search-heading {
  margin-top: 3%;
  color: white;
  text-align: center;
}

.search-moviename {
  font-family: MyFont1;
  letter-spacing: 3px;
  font-size: 3rem;
  color: rgb(128, 255, 0);
  text-decoration: solid;
}

.no-movies {
  color: rgb(128, 255, 0);
  font-size: 13rem;
}

.loader {
  height: 200px;
  width: 200px;
}
