@font-face {
  font-family: Myfont;
  src: url("./fonts/RubikBubbles-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.App {
  background-color: black;
  display: flex;
  color: rgb(128, 255, 0);
}

img {
  padding: 3%;
  width: 3%;
  height: 3%;
}

.title {
  padding: 3%;
  font-size: 40px;
  font-family: Myfont;
}
